/* Honestamente no sé de dónde salió esta notación */
:root{
    background-color: #EEEEEE;
    color: #222831;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}