.recipeeCard {
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.recipeeCard div {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}
.main {
    display: grid;
}

.navigationbarD{
    background-color: #76ABAE;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.navigationbarD Link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}
.navigationbarD div {
    text-align: center;
}
.navigationbarD div:hover{
    background-color: #31363F;
    color:#EEEEEE;
}

.navigationbarM {
    background-color: #76ABAE;
    display: block;
}
.navigationbarM Link {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}
.navigationbarM div {
    text-align: center;
}
.navigationbarM div:hover{
    background-color: #31363F;
    color:#EEEEEE;
}

.temporaryDrawer {
    display: flex;
    justify-content: center;
    color:#EEEEEE;
    background-color: #222831;
}
.temporaryDrawer Button {
    color: inherit;
}
.temporaryDrawer Drawer {
    color: inherit;
    background-color: inherit;
}

.title {
    background-color: #31363F;
    color: #EEEEEE;
    padding: 1%;
    text-align: center;
    margin-bottom: 30px;
}
.title h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.8em; /* Espaciado equivalente a 0.8 x el tamaño de fuente del elemento */
    margin-bottom: 0px;
    font-size: 250%;
}
.title h2 {
    text-transform: lowercase;
    font-weight: 500;
    font-variant: small-caps;
    margin-top: 0px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 espacios, cada uno del tamaño de una fracción del total */
}
.card {
    background-color: #76ABAE;
    color: #222831;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    margin: 10px;
}
.card h3 {
    font-weight: bold;
    text-transform: uppercase;
}
.card p {
    font-weight: bold;
}

@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
      grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}