/*
Colores base: 
#f5f0f0 (blanco)
#9acffe (celeste)
#000000 (negro)
#04358a (azul)
*/
.recipeeCard {
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.recipeeCard div {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    
}

.main {
    align-items: center;
    display: grid;
}
.navigationbar{
    background-color: #76ABAE;
    display: flex;
}
.navigationbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigationbar li a{
    display: block;
    text-align: center;
    padding: 3px 15px;
    text-transform: uppercase;
}
.navigationbar li a:hover{
    background-color: #31363F;
    color:#EEEEEE;
}
.title {
    background-color: #31363F;
    color: #EEEEEE;
    padding: 1%;
    text-align: center;
    margin-bottom: 30px;
}
.title h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.8em; /* Espaciado equivalente a 0.8 x el tamaño de fuente del elemento */
    margin-bottom: 0px;
    font-size: 250%;
}
.title h2 {
    text-transform: lowercase;
    font-weight: 500;
    font-variant: small-caps;
    margin-top: 0px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 espacios, cada uno del tamaño de una fracción del total */
}
.card {
    background-color: #76ABAE;
    color: #222831;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    margin: 10px;
}
.card h3 {
    font-weight: bold;
    text-transform: uppercase;
}
.card p {
    font-weight: bold;
}

@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
      grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}